<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <?include "Variables.wxi" ?>

    <Fragment>

        <Property Id="DEVENV10">
            <RegistrySearch Type="file" Id="FindVS10" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\10.0\Setup\VS" Name="EnvironmentPath" Win64="no">
                <FileSearch Name="devenv.exe" />
            </RegistrySearch>
        </Property>

        <Property Id="DEVENV10LICENSE">
            <RegistrySearch Type="raw" Id="FindVS10ProfessionalLicense" Root="HKLM" Win64="no" Key="SOFTWARE\Microsoft\DevDiv\vs\Servicing\10.0\PROCore" Name="Install"/>
            <RegistrySearch Type="raw" Id="FindVS10PremiumLicense" Root="HKLM" Win64="no" Key="SOFTWARE\Microsoft\DevDiv\vs\Servicing\10.0\VSTDCore" Name="Install"/>
            <RegistrySearch Type="raw" Id="FindVS10UltimateLicense" Root="HKLM" Win64="no" Key="SOFTWARE\Microsoft\DevDiv\vs\Servicing\10.0\VSTSCore" Name="Install"/>
        </Property>

        <Feature Id="VisualStudio10Feature" Title="Visual Studio 2010 Integration" Level="0">
            <ComponentGroupRef Id="VisualStudio10Components" />
            <Condition Level="1">DEVENV10 AND DEVENV10LICENSE</Condition>
        </Feature>

        <ComponentGroup Id="VisualStudio10Components" Directory="INSTALLFOLDER">
            <Component Id="VisualStudio10Extension">
                <RegistryKey Root="HKCU" Key="Software\Microsoft\VisualStudio\10.0">
                    <?include "Registration.wxi" ?>
                </RegistryKey>
            </Component>
        </ComponentGroup>

        <CustomAction Id="VS10Setup" Property="DEVENV10" ExeCommand="/setup" Execute="deferred" Return="ignore" Impersonate="no" />
        <InstallExecuteSequence>
            <Custom Action="VS10Setup" Before="InstallFinalize">DEVENV10 AND DEVENV10LICENSE</Custom>
        </InstallExecuteSequence>
        <UI>
            <ProgressText Action="ExecuteVS10Setup">Registering in Visual Studio 2010...</ProgressText>
        </UI>
        
    </Fragment>
</Wix>
