<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <?include "Variables.wxi" ?>

    <Fragment>

        <Property Id="DEVENV11">
            <RegistrySearch Type="file" Id="FindVS11" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\11.0\Setup\VS" Name="EnvironmentPath" Win64="no">
                <FileSearch Name="devenv.exe" />
            </RegistrySearch>
        </Property>

        <Feature Id="VisualStudio11Feature" Title="Visual Studio 2012 Integration" Level="0">
            <ComponentGroupRef Id="VisualStudio11Components" />
            <Condition Level="1">DEVENV11</Condition>
        </Feature>

        <ComponentGroup Id="VisualStudio11Components" Directory="INSTALLFOLDER">
            <Component Id="VisualStudio11Extension">
                <RegistryKey Root="HKCU" Key="Software\Microsoft\VisualStudio\11.0">
                    <?include "Registration.wxi" ?>
                </RegistryKey>
            </Component>
        </ComponentGroup>

        <CustomAction Id="InitializeVS11Setup" Property="ExecuteVS11Setup" Value="&quot;[#DEVENV11]&quot; /setup" Execute="immediate" />
        <CustomAction Id="ExecuteVS11Setup" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="check" Impersonate="no" />
        <InstallExecuteSequence>
            <Custom Action="InitializeVS11Setup" Before="InstallFinalize" />
            <Custom Action="ExecuteVS11Setup" After="InitializeVS11Setup"><![CDATA[ (NOT REMOVE~="ALL") AND DEVENV11]]></Custom>
        </InstallExecuteSequence>
        <UI>
            <ProgressText Action="ExecuteVS11Setup">Registering in Visual Studio 2012...</ProgressText>
        </UI>
    </Fragment>
</Wix>
