<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <?include "Variables.wxi" ?>

    <Fragment>

        <Property Id="DEVENV11">
            <RegistrySearch Type="file" Id="FindVS11" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\11.0\Setup\VS" Name="EnvironmentPath" Win64="no">
                <FileSearch Name="devenv.exe" />
            </RegistrySearch>
        </Property>

        <Property Id="DEVENV11LICENSE">
            <RegistrySearch Type="raw" Id="FindVS11ProfessionalLicense" Root="HKLM" Win64="no" Key="SOFTWARE\Microsoft\DevDiv\vs\Servicing\11.0\professional" Name="Install"/>
            <RegistrySearch Type="raw" Id="FindVS11PremiumLicense" Root="HKLM" Win64="no" Key="SOFTWARE\Microsoft\DevDiv\vs\Servicing\11.0\premium" Name="Install"/>
            <RegistrySearch Type="raw" Id="FindVS11UltimateLicense" Root="HKLM" Win64="no" Key="SOFTWARE\Microsoft\DevDiv\vs\Servicing\11.0\ultimate" Name="Install"/>
            <!-- 1028, 1029, 1031, 1033, 1036, 1040, 1041, 1042, 1045, 1046, 1049, 1055, 2052, 3082  -->
        </Property>

        <Feature Id="VisualStudio11Feature" Title="Visual Studio 2012 Integration" Level="0">
            <ComponentGroupRef Id="VisualStudio11Components" />
            <Condition Level="1">DEVENV11 AND DEVENV11LICENSE</Condition>
        </Feature>

        <ComponentGroup Id="VisualStudio11Components" Directory="INSTALLFOLDER">
            <Component Id="VisualStudio11Extension">
                <RegistryKey Root="HKCU" Key="Software\Microsoft\VisualStudio\11.0">
                    <?include "Registration.wxi" ?>
                </RegistryKey>
            </Component>
        </ComponentGroup>

        <CustomAction Id="VS11Setup" Property="DEVENV11" ExeCommand="/setup" Execute="deferred" Return="ignore" Impersonate="no" />
        <InstallExecuteSequence>
            <Custom Action="VS11Setup" Before="InstallFinalize">DEVENV11 AND DEVENV11LICENSE</Custom>
        </InstallExecuteSequence>
        <UI>
            <ProgressText Action="ExecuteVS11Setup">Registering in Visual Studio 2012...</ProgressText>
        </UI>
    </Fragment>
</Wix>
