<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <?include "Variables.wxi" ?>

    <Fragment>

        <Property Id="DEVENV14">
            <RegistrySearch Type="file" Id="FindVS14" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\14.0\Setup\VS" Name="EnvironmentPath" Win64="no">
                <FileSearch Name="devenv.exe" />
            </RegistrySearch>
        </Property>

        <Property Id="DEVENV14LICENSE">
            <RegistrySearch Type="raw" Id="FindVS14License" Root="HKLM" Win64="no" Key="SOFTWARE\Microsoft\DevDiv\vs\Servicing\14.0\community" Name="Install"/>
            <!--<RegistrySearch Type="raw" Id="FindVS14License" Root="HKLM" Win64="no" Key="SOFTWARE\Microsoft\DevDiv\vs\Servicing\14.0\professional" Name="Install"/>
            <RegistrySearch Type="raw" Id="FindVS14License" Root="HKLM" Win64="no" Key="SOFTWARE\Microsoft\DevDiv\vs\Servicing\14.0\enterprise" Name="Install"/>-->
        </Property>

        <Feature Id="VisualStudio14Feature" Title="Visual Studio 2015 Integration" Level="0">
            <ComponentGroupRef Id="VisualStudio14Components" />
            <Condition Level="1">DEVENV14 AND DEVENV14LICENSE</Condition>
        </Feature>

        <ComponentGroup Id="VisualStudio14Components" Directory="INSTALLFOLDER">
            <Component Id="VisualStudio14Extension">
                <RegistryKey Root="HKCU" Key="Software\Microsoft\VisualStudio\14.0">
                    <?include "Registration.wxi" ?>
                </RegistryKey>
            </Component>
        </ComponentGroup>

        <CustomAction Id="VS14Setup" Property="DEVENV14" ExeCommand="/setup" Execute="deferred" Return="ignore" Impersonate="no" />
        <InstallExecuteSequence>
            <Custom Action="VS14Setup" Before="InstallFinalize">DEVENV14 AND DEVENV14LICENSE</Custom>
        </InstallExecuteSequence>
        <UI>
            <ProgressText Action="VS14Setup">Registering in Visual Studio 2015...</ProgressText>
        </UI>
    </Fragment>
</Wix>
