<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <?include "Variables.wxi" ?>

    <Fragment>

        <Property Id="DEVENV15">
            <RegistrySearch Type="file" Id="FindVS15" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\15.0\Setup\VS" Name="EnvironmentPath" Win64="no">
                <FileSearch Name="devenv.exe" />
            </RegistrySearch>
        </Property>

        <Property Id="DEVENV15LICENSE">
            <RegistrySearch Type="raw" Id="FindVS15License" Root="HKLM" Win64="no" Key="SOFTWARE\Microsoft\DevDiv\vs\Servicing\15.0\Core" Name="Install"/>
        </Property>

        <Feature Id="VisualStudio15Feature" Title="Visual Studio 2017 Integration" Level="0">
            <ComponentGroupRef Id="VisualStudio15Components" />
            <Condition Level="1">DEVENV15 AND DEVENV15LICENSE</Condition>
        </Feature>

        <ComponentGroup Id="VisualStudio15Components" Directory="INSTALLFOLDER">
            <Component Id="VisualStudio15Extension">
                <RegistryKey Root="HKCU" Key="Software\Microsoft\VisualStudio\15.0">
                    <?include "Registration.wxi" ?>
                </RegistryKey>
            </Component>
        </ComponentGroup>

        <CustomAction Id="VS15Setup" Property="DEVENV15" ExeCommand="/setup" Execute="deferred" Return="ignore" Impersonate="no" />
        <InstallExecuteSequence>
            <Custom Action="VS15Setup" Before="InstallFinalize">DEVENV15 AND DEVENV15LICENSE</Custom>
        </InstallExecuteSequence>
        <UI>
            <ProgressText Action="ExecuteVS15Setup">Registering in Visual Studio 2017...</ProgressText>
        </UI>
    </Fragment>
</Wix>
